<p>Find me in app/views/users/show.html.erb</p>
<div class="container">
  <h1>Edit profile</h1>
  <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="avatarupload">
  <button class="btn btn-primary" id="new-profile-picture-btn">Upload New</button>
  <form action="email address">
    <input type="email addres">em
  </form>
</div>
<br>
