    <div class="flatpickr mt-5" data-controller="datepicker" >
        <input type="text" data-datepicker-target="datePicker" placeholder="Select Date.." data-input class="date-picker-input d-none"  > <!-- input is mandatory -->
      </div>
