<form class="search-form" action="">
  <input type ="search" placeholder="Search for keywords"  class="search">
  <input type ="search-country" placeholder="Enter location"  class="search-country">
  <button type="submit" class="search-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
