.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content{
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

  .marker{
    background-image: url("bluemarker");
    background-size: cover;
    height:25px;
    width:25px;
    cursor: pointer;
  }

  .marker:hover{
    background-image: url("redmarker");
    height:40px;
    width:40px;
    transition:all 0.4s ease-in-out;
  }

  .marker-update{
    background-image: url("redmarker");
    height:40px;
    width:40px;
    background-size: cover;
    cursor: pointer;
  }
